body {
    font-family: "Courier New", Courier, monospace;
    background-color: black; 
    color: #00FF00; 
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden;
}

header {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: height 1s ease, padding 1s ease;
    overflow: hidden;
}

.name-animation {
    color: #00FF00; 
    font-size: 8em; 
    font-family: "Courier New", Courier, monospace; 
    overflow: hidden; 
    white-space: nowrap; 
    letter-spacing: 0.1em; 
    animation: typing 6s steps(12, end) forwards; 
}

.subtitle-animation {
    color: white;
    font-size: 2.0em; 
    margin-top: 20px; 
    opacity: 0; 
    animation: fadeInSubtitle 2s forwards; 
    animation-delay: 5s; 
    white-space: nowrap; 
}


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


@keyframes fadeInSubtitle {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section {
    opacity: 0;
    transition: opacity 1s ease;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    display: block;
}


section h2 {
    color: #00FF00; 
     font-size: 1.4em; 
}





section p, section ul li {
    color: #FFFFFF; 
    font-size: 1.1em; 
}




#projects, #hobbies {
    margin-top: -40px; 
}


#hobbies {
    padding-bottom: 80px; 
}







footer {
    opacity: 0;
    transition: opacity 1s ease;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: #00FF00;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: none; 
}




#projects a {
    color: #FFFFFF; 
    text-decoration: underline; 
}


#projects a:hover {
    color: #00FF00; 
    text-decoration: underline; 
}





.profile-image-container {
    text-align: center;
    margin: 20px 0; 
    opacity: 0; 
    transition: opacity 1s ease; 
}


.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 70%;
    object-fit: cover;
    
}


#about {
    padding-top: 20px; 
    opacity: 0; 
    transition: opacity 1s ease;
}



header.moved-up {

    justify-content: flex-start;
    padding-top: 80px;
    height: auto; 
}



header.moved-up .name-animation {
    font-size: 3.4em; 
}

header.moved-up .subtitle-animation {
    font-size: 1.6em; 
}

@media (max-width: 600px) {
    .name-animation {
        font-size: 3.0em;
    }

    section {
        padding: 10px;
    }
}
